{% extends "template/organization.twig" %}

{% block header %}Редактор сценария{% endblock %}

{% block content %}
    
    {% for unit in scenario %}
    <div class="well">
        {% set level = unit.uroven %}
        {% set tip = unit.n_podskazki %}
        {% set formName = ['form', level, tip]|join('-') %}
        {% set hasBrainPart = unit.b_keyw is not empty %}

        <div class="well">
            {% if tip != 0 %}
                <b>Подсказка №{{ tip }} ({{ minutes[loop.index0] }} мин.)</b>
                {% if unit.p_time == 0 %}
                    Последняя подсказка уровня.
                {% endif %}
            {% else %}
                <br />
                <h3>
                    Уровень {{ level }}<br />
                    <small>
                    Ключ: {{ unit.keyw }} 
                    {% if hasBrainPart %}
                        Мозговой ключ: {{ unit.b_keyw }}
                    {% endif %}
                    </small>
                </h3>
            {% endif %}
        </div>
            
        <div class="well">
            {{ unit.text }}
        </div>

        <form action="/shvatka" name="{{ formName }}" level="{{ level }}" tip="{{ tip }}" >
            <input name="act" type="hidden" value="module">
            <input name="module" type="hidden" value="edit">
            <input name="lev" type="hidden" value="{{ unit.uroven }}">
            <input name="npod" type="hidden" value="{{ unit.n_podskazki }}">
            <div class="row">
                <button class="eight columns" type="submit" name="cm" value="1">Редактировать</button>
                <button class="four columns" type="submit" name="cm" value="2" formmethod="POST">Удалить</button>
            </div>
        </form>
    </div>
    {% endfor %}
    <br />&nbsp<br />
    <div class="well">
        <form action="/shvatka">
            <input name="act" type="hidden" value="module">
            <input name="module" type="hidden" value="edit">
            <input name="cm" type="hidden" value="3">

            <div class="row well">
                <input class="six columns" name="lev" type="text" placeholder="Уровень" value="">
                <input class="six columns" name="npod" type="text" placeholder="подсказку" value="">
            </div>

            <input type="submit" value="Добавить" />
        </form>
    </div>
    
    {% if scenario|length > 0 %}
        <br />&nbsp<br />
        <form id="fdelgame" action="/shvatka">
            <input name="act" type="hidden" value="module">
            <input name="module" type="hidden" value="reps">
            <input name="cmd" type="hidden" value="scn">
            <input name="delg" type="hidden" value="1">
            <input type="submit" value="Удалить нафиг весь сценарий" class="btn btn-danger">
        </form>
        <script>
            var form = document.getElementById('fdelgame');
            form.onsubmit = function(e) {
                e.preventDefault();
                if (confirm('Уверены что хотите удалить ВЕСЬ сценарий?')) {
                    form.submit();
                }
            }
        </script>
    {% endif %}
    
{% endblock %}